body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#primeiraDiv{
  background-color: red;
  width: 250px;
  height: 500px;
  position: relative;

}

#container{
  width:500px;
  height: 600px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;

}

#filhoPrimeiraDiv{
  width: 250px;
  height: 30px;
  position: absolute;
  bottom: 0px;

}

#texto{
  position: absolute;
  left: 10px;
  width: 187px;
  height: 19px;
  border: none;
  border-radius: 13px;
}

#icone{
  position: absolute;
  right: 9px;
  bottom: 4px;
}
